<%- include('./partials/header') %>

    <h1>Add New Dev Skill</h1>
    <form action="/skills" method="post">
        <input type="text" name="skill" placeholder="Enter skill" required>
        <button type="submit">Submit</button>
    </form>

<%- include('./partials/footer') %>

